		div{
			width:300px; 
		}
	    .wrapper{
	    	margin: 0 auto;
	    	height: 418px;
	    	border: 1px solid #cfcfcf;
	    	border-top: none;
	    }
	    .wrapper #h2,.wrapper #h3,.wrapper #h4,.wrapper #h5{
	    	background-repeat: no-repeat;
	    }
		#h1{ 
			height:29px;
			background-color: #f5f5f5;
			border-top: 2px solid #206f96;
			border-bottom: 1px solid #cfcfcf;	
		}
		#h2{
			height:57px;
			background: 17px 25px #fff  url(../images/tbg.png);
		}
		#h3{
			height:125px;
			background:#f7f7f7 17px -33px url(../images/tbg.png);
		}
		#h4{
			height: 76px;
			background: #fff 17px -158px url(../images/tbg.png);
		}
		#h5{
			height: 128px;
			background: #f7f7f7 17px -235px url(../images/tbg.png);
		}